@model WildFireProject.Models.Tables.Idea

@{
	ViewBag.Title = "Ideas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Title</h1>
<p>@Model.Description</p>

@*@{
    ViewData["Title"] = "Issues";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>*@

@*<p>Use this area to provide news information.</p>*@
<div class="col-md-12" style="background-color: azure">
    <div class="row" style="padding: 10px">
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 1</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 2</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 3</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
    </div>
</div>
<div class="col-md-12" style="background-color: azure">
    <div class="row" style="padding: 10px">
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 1</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 2</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 3</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
    </div>
</div>
<div class="col-md-12" style="background-color: azure">
    <div class="row" style="padding: 10px">
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 1</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 2</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
        <div class="col-md-4" style="background-color: aqua">
            <h3>Idea 3</h3><hr />
            <h4>Title</h4>
            <p>Description</p>
            <br /><br /><br /><br /><br />
            <button>Vouch</button>
            <button>Fund</button>
            <button>Labor</button>
            <button>Share</button>
        </div>
    </div>
</div>