@model WildFireProject.Models.Tables.Idea

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    	<title>This is my Idea!</title>
</head>
<body>
		<h1>@Model.Title</h1>
		<p>@Model.Description</p>
</body>
</html>

